body {
    background-image: url("https://cdn.alfabetajuega.com/alfabetajuega/abj_public_files/multimedia/imagenes/201611/170510.alfabetajuega-fondos-de-pantalla-videojuegos-4-181116.jpg");
    
    background-size: cover;
}

main {
    display: flex;
    
}

.card {
    width: 49px;
    height: 49px;
    border: 1px solid rgb(111, 56, 2);
    background-color: rgba(245, 245, 220, 0.268);
    position: relative;
}

.izquierda {
    position: relative;
    margin-top: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    
}
.imagenes{
    display: flex;
    background-color: black;
    margin-bottom: 10px;
}
#flechita{
    width: 150px;
    height: 95px;
    margin-bottom: 5px;
    padding-left: 3px;
}
#wasd{
    border-right: 2px solid white;
    margin-top: 5px;
    padding-right: 6px;
    width: 147px;
    height: 90px;
}
.scorecontenedor {
    display: flex;
    border: 1px solid black;
    width: 45%;
}

.score {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right: 1px solid black;
}

.color1 {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: orange;
    margin-bottom: 7px;
}

.score2 {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.color2 {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: rgb(0, 247, 255);
    margin-bottom: 7px;
}

.marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 155px;
    padding: 10px;
    border-top: 1px solid black;
    border-left: 15px solid orange;
    border-right: 15px solid cyan;
    border-bottom: 1px solid black;
}

.guion {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 60px;
}

.marcadorN {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    height: 80px;
    width: 80px;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
}

.marcadorA {
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
    height: 80px;
    width: 80px;
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
}

.derecha {
    margin-right: 56px;
    width: 45%;
    height: 520px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1px;
}

.objetivo {
    background-color: green;
}

.jugador2 {
    background-color: orange
}
.jugador1 {
    background-color: rgb(0, 247, 255);
}
#boton{
    width: 130px;
    height: 40px;
    font-family: 'Franklin Gothic', 'Arial Narrow', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
section {
    position: absolute;
    margin-top: 210px;
    margin-left: 830px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 500px;
    border: 1px  solid black;
    background-color: rgb(151, 52, 204);
    box-shadow: 7px 7px 7px   rgb(83, 27, 113);
}
#segundos {
    margin-top: 40px;
    font-size: 90px;
}
#letra{
    font-family: 'Franklin Gothic', 'Arial Narrow', sans-serif;
    font-size: 30px;
}
#cuentaatras {
font-family: 'Franklin Gothic', 'Arial Narrow', sans-serif;
color: rgb(151, 52, 204);
    }